In [7]:
#Import Libraries
import yfinance as yf
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#Define the ticker symbol for TESLA
ticker_symbol = 'TSLA'

#Get data on this ticker
tesla = yf.Ticker(ticker_symbol)

#Get Historical Data
tesla_hist = tesla.history(period = "1y")

#Display Data
tesla_hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-10-09 00:00:00-04:00,255.309998,261.359985,252.050003,259.670013,101377900,0.0,0.0
2023-10-10 00:00:00-04:00,257.750000,268.940002,257.649994,263.619995,122656000,0.0,0.0
2023-10-11 00:00:00-04:00,266.200012,268.600006,260.899994,262.989990,103706300,0.0,0.0
2023-10-12 00:00:00-04:00,262.920013,265.410004,256.630005,258.869995,111508100,0.0,0.0
2023-10-13 00:00:00-04:00,258.899994,259.600006,250.220001,251.119995,102073800,0.0,0.0